
<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">

    <title>T.O.D.O</title>
</head>
<body>

<div class="container">

  <div class="container-fluid">
    <div class="row" style="margin-top: 50px">
      <div class="col-md-2">
        <input id="task" type="text" class="form-control" placeholder="Insira sua tarefa">
      </div>

      <div class="col-md-2 btn-col">
        <button id="add" type="button" class="btn btn-info" data-identifier="1">Adicionar</button>
      </div>
    </div>

  </div>
  <div class="container-fluid">
    <table id="task-list" class="table" style="margin-top: 50px">
      <thead>
        <tr>
          <th scope="col">TASK</th>
          <th scope="col">Excluir</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>

</div>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
<script>

  $body = $("body");

  var service = 'http://localhost:5000/task';
  var refreshPageVal = false;

  function refreshPage() {
    while (!refreshPageVal) {
      setTimeout(function(){
        location.reload();
      }, 2000);

      refreshPageVal = true;
    }
  };

  $('#add').on('click', function (e) {
    e.preventDefault();
    $("#add").attr('disabled','true');
    ajaxAdd();
    setTimeout(function(){
        $("#add").removeAttr('disabled','true');
    }, 2000);

  });

  function ajaxAdd() {
    var task = $("#task").val();
    var body = '{ "task": "' + task '", "status":"0" }';
    var pathVariable = "task" ;
    $.ajax(
      {
          type: "POST",
          url: service,
          crossDomain: true,
          data: body,
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          cache: false,
          error: function (msg) {
            if (msg.responseText !== "")
              alert(msg.responseText);
          }
      });
    refreshPage();
  };

  function remove(obj) {
    $(obj).attr('disabled','true')
    $.ajax(
      {
        type: "DELETE",
        url: service + "/" + obj.id,
        crossDomain: true,
        data: body,
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        cache: false,
        error: function (msg) {
          if (msg.responseText !== "")
            alert(msg.responseText);
        }
      });
      refreshPage();
  };

  function atualiza() {
    $("tbody").children().remove();
    $.ajax(
      {
        type: "GET",
        url: service,
        crossDomain: true,
        data: "{}",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        cache: false,
        success: function (data) {
            var trHTML = '';
            $.each(data, function (i, item) {
                trHTML += '<tr><td><button id="' + data[i].task + '" type="button" class="btn btn-danger rm" onclick="remove(this)">X</button></td><td>' + data[i].task + '</td><td>';
            });
            $("tbody").append(trHTML);
        },
        error: function (msg) {
            alert(msg.responseText);
        }
    });
  };

  $(document).ready(function(){
      $("hour").val(0);
      $("minute").val(0);
      $("second").val(0);
      atualiza();
  });

</script>
</body>
</html>
